[D-BUS Service]
Name=org.harbour.sailorgram
Interface=org.harbour.sailorgram
Exec=/usr/bin/invoker --type=generic /usr/bin/harbour-sailorgram
SystemdService=harbour-sailorgram-notifications.service
