[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-telega
Exec=harbour-telega %U
Name=Telega
Categories=Network;InstantMessaging;
